<section class="simple-intro">
  <div class="intro-container">
      <h1 class="intro-heading">
          Sign Language Conversion Technology
      </h1>

      <div class="content-box">
          <div class="icon-container">
              <i class="fas fa-hands" aria-hidden="true"></i>
          </div>

          <p class="intro-description">
              In today's world, technology plays a vital role in our daily lives,
              offering innovative solutions to improve communication and interaction
              among people from diverse backgrounds. Among these solutions, the
              "Sign Language to Text and Speech Conversion" project aims to empower
              individuals with hearing impairments to communicate more effectively.
              This project utilizes artificial intelligence techniques to convert images
              of hand signs into both written text and synthesized speech.
          </p>

          <button class="simple-btn" [routerLink]="['/aboutUs']">
            Learn More
            <i class="fas fa-arrow-right"></i>
          </button>
      </div>
  </div>
</section>
